* {
    padding: 0;
    margin: 0;
}

a {
    font-weight: bold;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 25px;
    padding-right: 25px;
}

.Home {
    color: rgb(234, 161, 25);
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
}

.S {
    color: rgb(242, 161, 10);
}

.soxolo-span {
    display: flex;
}

.oxolo {
    color: rgb(251, 248, 248);
}

.first-div {
    height: fit-content;
    background-image: url(/images\ \(15\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 30px;
}

.digital-marketing {
    color: rgb(243, 164, 16);
}

.second-div {
    height: fit-content;
    color: white;
    background-color: rgb(243, 164, 16);
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    padding: 5px;
    padding-left: 50px;
    padding-right: 100px;
}

h1,
p {
    color: white;
    text-align: center;
}

.middle-text {
    margin-top: 80px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    width: 140px;
    height: 35px;
    margin: auto;
    border-radius: 25px;
    text-align: center;
}

.button-1 {
    color: white;
    background-color: rgb(255, 165, 0);
}

.button-1:hover {
    background-color: black;
    color: orange;
}

.button-2:hover {
    background-color: orange;
    color: black;
}

.third-div {
    background-color: white;
    padding-top: 35px;
    text-align: center;
}

.p {
    color: black;
}

.fourth-div {
    display: flex;
    gap: 35px;
    background-color: white;
    padding-bottom: 40px;
    justify-content: center;
}

.bottom {
    margin-top: 30px;
    height: 220px;
    width: 350px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.3);
}

.p-bottom {
    color: black;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.h2-bottom {
    padding: 20px;
}

textarea {
    border-top-left-radius: 40px;
    height: 33px;
    border-bottom-left-radius: 40px;
    border: 2px solid white;
    background: transparent;
    outline: none;
}

.icon-button {
    background-color: white;
    width: 80px;
    border: none;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.fa-envelope {
    font-size: 37px;
    color: orange;
}

.div {
    display: flex;
    gap: 1px;
}










/* media query */
@media screen and (max-width:768px) {
    .nav-items {
        display: none;
    }

    .second-div {
        height: fit-content;
        color: white;
        background-color: rgb(243, 164, 16);
        display: block;
        justify-content: space-between;
        gap: 60px;
        align-items: center;
        padding: 5px;
        padding-left: 50px;
        padding-right: 100px;
        padding-bottom: 20px;
    }

    .fourth-div {
        display: block;
        background-color: white;
        padding-bottom: 40px;
        width: fit-content;
        margin: auto;
    }

    h1,
    p {
        color: white;
        text-align: center;
        padding-bottom: 20px;

    }
    .h3{
        padding-bottom: 20px;
    }
}